---
layout: default
title: About
---
<div class="flex flex-col md:flex-row items-center md:justify-center site-container h-full mt-36 mb-28 gap-16 lg:gap-24">
  <h1 class="font-heading text-center text-4xl  md:order-2"><%= page.data.title %></h1>
  <img src="<%= relative_url "images/kate.jpg" %>"
      class="block max-w-[275px] max-h-[375px] aspect-[3/4]" />
</div>
<div class="site-container pb-12">
  <h2 class="font-heading text-left md:text-center text-2xl mb-8">Licensure and Education</h2>
  <p class="font-body mb-24 indent-6">
    I am a licensed clinical psychologist practicing in the state of Colorado.
    I hold a Ph.D. in Clinical Psychology and an M.A. in Experimental
    Psychology from Simon Fraser University. I completed my clinical
    internship at the Washington State Office of Forensic Mental Health
    Services in Tacoma, Washington. I completed an American Board of
    Forensic Psychology (ABFP) recognized post-doctoral fellowship in
    Forensic Psychology at the Denver Forensic Institute for Research,
    Service, and Training (Denver FIRST).
  </p>
  <h2 class="font-heading text-left md:text-center text-2xl mb-8">Forensic Experience</h2>
  <p class="font-body mb-6 indent-6">
    I have worked in forensic settings for over a decade conducting both
    treatment and forensic evaluations. I have experience in jail-based
    settings, federal institutions, forensic community clinics, and forensic
    mental health hospitals. In addition to my private practice work I am
    contracted to conduct court-ordered evaluations for the state of
    Colorado. I am also an affiliate forensic evaluator and supervisor for
    the Denver Forensic Institute for Research, Service, and Training
    (Denver FIRST). I have authored numerous forensic mental health
    evaluations in the areas of competency, mitigation, risk assessment,
    sanity, mental condition, sexually violent predator evaluations, and
    juvenile transfer. I have testified as an expert in Colorado on the issue
    of competency, and am very familiar with mental health law, Colorado
    and federal statutes and relevant case law.
  </p>
  <p class="font-body mb-24 indent-6">
    Through my postdoctoral fellowship in forensic psychology I received
    an additional full-year of specialized forensic training beyond that
    required for clinical psychologists practicing with a doctoral degree.
    Though not a requirement for licensure, such training qualifies me to
    conduct competency and sanity evaluations as a forensic psychologist
    in the state of Colorado (CO Rev. Stat. <a href="https://casetext.com/statute/colorado-revised-statutes/title-16-criminal-proceedings/code-of-criminal-procedure/article-85-competency-to-proceed/section-16-85-101-definitions" target="_blank" class="blue-highlight">ยง 16-8.5-101</a> & <a href="https://casetext.com/statute/colorado-revised-statutes/title-16-criminal-proceedings/code-of-criminal-procedure/article-85-competency-to-proceed/section-16-85-102-competency-to-proceed-how-and-when-raised" target="_blank" class="blue-highlight">ยง 16-8-102</a>).
  </p>
  <h2 class="font-heading text-left md:text-center text-2xl mb-8">Research Experience</h2>
  <p class="font-body mb-24 indent-6">
    Broadly speaking, my research interests include the conceptualization
    and measurement of psychopathy, forensic risk assessment, resilience,
    risk and protective factors for violence and criminal behavior, and
    cultural sensitivity in forensic risk assessment. I have authored several
    empirical papers on these issues. Links to these articles can be found
    in the Publications and Media section of this webpage.
  </p>
  <h2 class="font-heading text-left md:text-center text-2xl mb-8">Curriculum Vitae</h2>
  <a href="<%= relative_url '/Katherine Hanniball, January 2025 - Forensic Psychologist.pdf' %>" class="mx-auto w-fit flex items-center">
    <img src="<%= relative_url 'images/icon-document.svg' %>" alt="document icon" class="hidden md:block w-10 h-10 mr-1" />
    <span class="blue-highlight font-body">Download my CV</span>
  </a>
</div>
