---
layout: default
title: Services
---
<h1 class="font-heading text-center text-4xl mt-36">Services Offered</h1>
<div class="site-container py-36">
  <ul>
    <% collections.services.resources.each_with_index do |service, i| %>
      <%= render "service", service: service.data, i: i %>
    <% end %>
  </ul>
</div>
