/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply font-body leading-7 lg:leading-8;
}

.site-container {
  @apply px-8 md:px-16 max-w-[1100px] mx-auto;
}
header nav svg path {
  @apply opacity-100 transition-all duration-700;
}
header.nav--open nav svg path#top {
  @apply rotate-45 translate-x-1 -translate-y-1;
}
header.nav--open nav svg path#middle {
  @apply opacity-0;
}
header.nav--open nav svg path#bottom {
  @apply -rotate-45 translate-y-1.5 -translate-x-1;
}
.blue-highlight {
  @apply transition-all duration-500 font-body;
  background: linear-gradient(
    to bottom,
    #FFFFFF 0%,
    #FFFFFF 68%,
    #ddddf4 68%,
    #ddddf4 94%,
    #FFFFFF 94%
  );
}
.blue-highlight:hover {
  background: linear-gradient(
    to bottom,
    #FFFFFF 0%,
    #FFFFFF 72%,
    #65D6AD50 72%,
    #65D6AD50 98%,
    #FFFFFF 98%
  );
}
.cta-button {
  @apply bg-cta-green text-slate-300 px-2.5 py-1.5 font-bold rounded-sm;
  @apply hover:bg-slate-300 hover:rounded-sm transition-all;
  @apply after:block
}
.md-style {
  @apply font-body leading-7;

  p { @apply mb-5; }
}
.hero-image {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5)
    rgba(0, 0, 0, 0.5)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}