<div class="site-container">
  <h2 class="font-heading text-center text-3xl mb-10">Empirical Articles</h2>
  <ul>
    <% articles.each do |article| %>
      <%= render "article", article: article.data %>
    <% end %>
  </ul>
</div>
