<div class="site-container">
  <h2 class="font-heading text-center text-3xl mt-24 mb-16">Book Chapters</h2>
  <ul>
    <% chapters.each do |chapter| %>
      <%= render "chapter", chapter: chapter.data %>
    <% end %>
  </ul>
</div>
