<div class="site-container flex flex-col md:flex-row gap-12 py-20">
  <h2 class="text-center text-3xl font-heading md:text-left md:w-1/3 my-auto">For further information or to inquire about my services</h2>
  <div class="md:w-2/3">
    <%= render "contact_form" %>
  </div>
</div>
<%= render "section_seperator" %>
