<div class="hero-image w-dvw h-dvh pt-9 pb-36 text-white font-heading font-semibold overscroll-x-contain"
  style="background-image:url('<%= relative_url "/images/mountain.jpg" %>');">
  <div class="site-container h-full">
    <h1 class="text-3xl lg:text-4xl text-center md:pr-12 mt-10 font-heading">
      Forensic<br class="md:hidden"/>
      Psychological<br/>
      Services and<br class="md:hidden"/>
      Consultation
    </h1>
  </div>
</div>